<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
import numpy as np
import pandas as pd

# It is good practice to display the library version numbers for future reference:

In [2]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.19.2
Pandas:  1.1.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [3]:
# wrong:
bikes = pd.read_table('bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [4]:
#ANSWER:
bikes = pd.read_csv('bikeshare.csv', header = 0)
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [5]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [6]:
df = pd.read_excel('Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [7]:
#ANSWER
df_1 = pd.read_excel('Iris.xls', sheet_name ='Data', header=0, skiprows=None, skipfooter=0)
df_1

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [8]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-06-21T01:44:10.080Z,18.8744,145.4652,204.12,5.4,mww,NaN,28,8.722,0.95,...,2021-06-21T02:14:12.637Z,"Pagan region, Northern Mariana Islands",earthquake,8,4.7,0.098,10,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [9]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

df = pd.read_html(url)
df

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [10]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [11]:
#ANSWER: There are 17379 rows in 'bikes'
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [18]:
#ANSWER: There are 17 column names in 'bikes'
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [19]:
#ANSWER: 
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [20]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [15]:
#ANSWER
bikes['season']

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [16]:
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [17]:
#ANSWER
bikes['atemp'].head(4)

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [18]:
bikes[[0]]
#E: bikes[0]
#E: bikes[0,0]
#E: bikes[[0,0]]

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

In [19]:
bikes[0]

KeyError: 0

In [20]:
bikes[0,0]

KeyError: (0, 0)

In [21]:
bikes[[0,0]]

KeyError: "None of [Int64Index([0, 0], dtype='int64')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [22]:
#ANSWER
bikes.iloc[0:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [23]:
#ANSWER
bikes.iloc[:, 1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?


ANSWER:Pandas 'isnull' identifies missing values

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [24]:
bikes.isnull()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17375,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17376,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17377,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [25]:
#ANSWER
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [26]:
#ANSWER
bikes['instant'].fillna(0)

0            1
1            2
2            3
3            4
4            5
         ...
17374    17375
17375    17376
17376    17377
17377    17378
17378    17379
Name: instant, Length: 17379, dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [27]:
#ANSWER: The Numpy object 'nan' is used when the value is neither an integer nor a float.

Apply the Pandas `isna` function to the following data objects:

In [28]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [29]:
#ANSWER: 2.3 nan

In [30]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [31]:
#ANSWER
df = pd.DataFrame(array)
df

     0    1    2
0  1.0  NaN  3.0
1  4.0  5.0  NaN

In [32]:
df.isna()

       0      1      2
0  False   True  False
1  False  False   True

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [33]:
#ANSWER
bikes['season'].value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [34]:
#ANSWER
Range_instant = bikes['instant'].max() - bikes['instant'].min()
print("Range of instant in 'bikes' : ", Range_instant)

Range of instant in 'bikes' :  17378

Compute and print the overall minimum and maximum of the numeric data columns:

In [35]:
#bikes_min, bikes_max = (min(bikes.min()), max(bikes.max()))
#bikes_min, bikes_max

In [36]:
Range_windspeed = bikes['windspeed'].max() - bikes['windspeed'].min()
print("Range of windspeed in 'bikes' : ",Range_windspeed)

Range of windspeed in 'bikes' :  0.8507

In [37]:
type(bikes['dteday'])

pandas.core.series.Series

In [38]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [36]:
dteday_max = pd.to_datetime(bikes["dteday"]).max()

In [37]:
dteday_min = pd.to_datetime(bikes["dteday"]).min()

In [38]:
range_dteday = dteday_max - dteday_min
print("Range of dteday: ", range_dteday)

Range of dteday:  730 days 00:00:00

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [23]:
median = bikes['atemp'].quantile(0.5)
print("The median for atemp: ",median)

The median for atemp:  0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [42]:
#ANSWER
bikes['atemp'].quantile([0.1, 0.25, 0.5, 0.75, 0.9])

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [43]:
type(bikes['atemp'])

pandas.core.series.Series

In [44]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
181,182,2011-01-08,1,0,1,20,0,6,0,1,0.12,0.1212,0.36,0.2537,0,28,28
16464,16465,2012-11-23,4,1,11,18,0,5,1,2,0.46,0.4545,0.44,0.0000,50,158,208
3247,3248,2011-05-20,2,0,5,5,0,5,1,1,0.44,0.4394,0.94,0.1045,0,28,28
1019,1020,2011-02-15,1,0,2,4,0,2,1,1,0.22,0.1818,0.37,0.5224,0,1,1
15669,15670,2012-10-20,4,1,10,2,0,6,0,1,0.44,0.4394,0.77,0.1045,9,69,78

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indicates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [24]:
atemp_level = pd.cut(bikes['atemp'], bins = 4) 
print(atemp_level)

0        (0.25, 0.5]
1        (0.25, 0.5]
2        (0.25, 0.5]
3        (0.25, 0.5]
4        (0.25, 0.5]
            ...
17374    (0.25, 0.5]
17375    (0.25, 0.5]
17376    (0.25, 0.5]
17377    (0.25, 0.5]
17378    (0.25, 0.5]
Name: atemp, Length: 17379, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

What is `atemp_level`?

In [25]:
#ANSWER:
#atemp_level means sorting values that falls into a range which is grouped into bins.

Here is a random sample of `atemp_level`:

In [47]:
atemp_level.sample(5)

11827    (0.5, 0.75]
11482    (0.25, 0.5]
7423     (0.25, 0.5]
11514    (0.25, 0.5]
4046     (0.75, 1.0]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [26]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

14475    warm
17017    mild
10686    mild
11721    warm
8598     mild
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [27]:
#ANSWER
bikes['season_2'] = atemp_level 
bikes['season_2'].head()

0    mild
1    mild
2    mild
3    mild
4    mild
Name: season_2, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

In [28]:
bikes['season_2'].replace(['cool','mild','warm','hot'], [0, 1, 0, 0], inplace = True)

In [29]:
bikes.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,season_2
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,1
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,1
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,1
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13,1
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1,1

In [52]:
bikes['season_2'].value_counts()

0    9872
1    7507
Name: season_2, dtype: int64

In [53]:
print("The number of 'mild' atemp entries in season_2 :  7507")

The number of 'mild' atemp entries in season_2 :  7507

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [54]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [55]:
a = np.zeros((3))
a

array([0., 0., 0.])

In [56]:
a = np.zeros((3))
a.shape             #[0,0,0] - generate three 0s

(3,)

In [57]:
b = np.ones((1,3))
b                  #[1, 1, 1] - generate three 1s

array([[1., 1., 1.]])

In [58]:
b = np.ones((1,3))
b.shape

(1, 3)

In [59]:
c = np.random.randint(1,10,(2,3,4)) 
c                    # random range of numbers from 1 to 9; 2 sets of randon numbers, 3 rows, and 4 columns.

array([[[3, 1, 6, 4],
        [5, 1, 4, 5],
        [2, 1, 6, 9]],

       [[4, 3, 9, 4],
        [9, 6, 8, 1],
        [8, 3, 8, 5]]])

In [60]:
c = np.random.randint(1,10,(2,3,4)) 
c.shape

(2, 3, 4)

In [61]:
d = np.arange(4)
d

array([0, 1, 2, 3])

In [62]:
d = np.arange(4)
d.shape          # 4 rows, single column

(4,)

In [63]:
e = np.array( [[1,2,3,4], [5,6,7,8]] )
e                                      # 2 rows, 4 columns

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [64]:
e = np.array( [[1,2,3,4], [5,6,7,8]] )
e.shape

(2, 4)

In [ ]:
# Cleaning Data

## Load Data

Load rock.csv and clean the dataset.

In [65]:
rocky = pd.read_csv('rock.csv')
rocky.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Song Clean    2230 non-null   object
 1   ARTIST CLEAN  2230 non-null   object
 2   Release Year  1653 non-null   object
 3   COMBINED      2230 non-null   object
 4   First?        2230 non-null   int64
 5   Year?         2230 non-null   int64
 6   PlayCount     2230 non-null   int64
 7   F*G           2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

## Check Column Names

Check column names and clean.

In [66]:
rocky.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [67]:
rocky.rename(columns={'Song Clean': 'song_clean', 'ARTIST CLEAN': 'artist_clean',\
                      'Release Year': 'release_year', 'COMBINED': 'combined', \
                     'First?': 'first', 'Year?': 'year', 'PlayCount': 'play_count', 'F*G': 'fg'}, inplace=True)
rocky.head()

,song_clean,artist_clean,release_year,combined,first,year,play_count,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [105]:
rk=rocky.copy()
rk.head()

,song_clean,artist_clean,release_year,combined,first,year,play_count,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [108]:
rk=rk.fillna(0)

In [109]:
rk.isna().sum()

song_clean      0
artist_clean    0
release_year    0
combined        0
first           0
year            0
play_count      0
fg              0
dtype: int64

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [72]:
type(rocky['release_year'])

pandas.core.series.Series

In [73]:
rk[rk['release_year']=='SONGFACTS.COM'] #find release year for song "Bullfrog Blues"

,song_clean,artist_clean,release_year,combined,first,year,play_count,fg
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

In [74]:
rk.loc[1504, 'release_year'] = 1972
rk.loc[1504, 'release_year']   #test run to find out if SONGFACTS.com has been replaced by 1972

1972

In [75]:

rk['release_year'] = rk['release_year'].astype('int')
rk['release_year'].dtypes #test run to find out if 'release_year' is now an integer.

dtype('int32')

In [76]:
#alternatively, 
rk.info() #test run to confirm release_year is now an integer.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2230 non-null   object
 1   artist_clean  2230 non-null   object
 2   release_year  2230 non-null   int32
 3   combined      2230 non-null   object
 4   first         2230 non-null   int64
 5   year          2230 non-null   int64
 6   play_count    2230 non-null   int64
 7   fg            2230 non-null   int64
dtypes: int32(1), int64(4), object(3)
memory usage: 130.8+ KB

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [77]:
rk['song_clean'].min()

'#9 Dream'

In [78]:
rk['song_clean'].max()

'Ziggy Stardust'

In [79]:
rk['artist_clean'].min()

'.38 Special'

In [80]:
rk[rk['artist_clean']=='.38 Special']

,song_clean,artist_clean,release_year,combined,first,year,play_count,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18

In [81]:
rk['artist_clean'] = rk['artist_clean'].replace({'.38 Special':'38 Special'})
rk.iloc[0:4, 1] #test to find out if the artist's name is replaced.

0    38 Special
1    38 Special
2    38 Special
3    38 Special
Name: artist_clean, dtype: object

In [82]:
rk['artist_clean'].max()

'a-ha'

In [83]:
rk[rk['artist_clean']=='a-ha']

,song_clean,artist_clean,release_year,combined,first,year,play_count,fg
9,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1

In [84]:
rk['artist_clean'] = rk['artist_clean'].replace({'a-ha':'A-ha'})
rk.iloc[9, 1] #test to find out if artist's name is replaced.

'A-ha'

In [85]:
rk['release_year'].min()

0

In [86]:
rk['release_year'].max()

2014

In [87]:
rk[rk['release_year'] == 2014.0]

,song_clean,artist_clean,release_year,combined,first,year,play_count,fg
40,Dog On A Leash,Adelitas Way,2014,Dog On A Leash by Adelitas Way,1,1,4,4
331,Take Out The Gunman,Chevelle,2014,Take Out The Gunman by Chevelle,1,1,4,4

In [88]:
rk['release_year'] = rk['release_year'].replace({float(2014.0) : int(2014)})
rk.iloc[[40,331], 2 ] #test run to confirm the year is now 2014 instead of 2014.0

40     2014
331    2014
Name: release_year, dtype: int64

In [89]:
rk['combined']

0                         Caught Up in You by .38 Special
1                             Fantasy Girl by .38 Special
2                          Hold On Loosely by .38 Special
3                   Rockin' Into the Night by .38 Special
4                               Art For Arts Sake by 10cc
                              ...
2225                    She Loves My Automobile by ZZ Top
2226                          Tube Snake Boogie by ZZ Top
2227                                       Tush by ZZ Top
2228                                 TV Dinners by ZZ Top
2229    WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...
Name: combined, Length: 2230, dtype: object

In [90]:
rk['first'].min()

1

In [91]:
rk['first'].max()

1

In [92]:
rk['year'].min()

0

In [93]:
rk['play_count'].min()

0

In [94]:
rk['play_count'].max()

142

In [95]:
rk['fg'].min()

0

In [96]:
rk['fg'].max()

142

## Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [97]:
row = int(input(" Enter a number from 1 to 2230:  "))
if rk.loc[row,'release_year'] < 1970:
    print(" Before 1970 ")
    print(rk.loc[row, ['song_clean','artist_clean']])
     
else:
    print("After 1970") 
    print(rk.loc[row, ['song_clean','artist_clean']])

 Enter a number from 1 to 2230:  440
 Before 1970
song_clean      Woman From Tokyo
artist_clean         Deep Purple
Name: 440, dtype: object

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [111]:
rk.columns

Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'play_count', 'fg'],
      dtype='object')

In [113]:
rk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2230 non-null   object
 1   artist_clean  2230 non-null   object
 2   release_year  2230 non-null   object
 3   combined      2230 non-null   object
 4   first         2230 non-null   int64
 5   year          2230 non-null   int64
 6   play_count    2230 non-null   int64
 7   fg            2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [119]:
def convert_to_float(column):
    column = column.astype('float')
    return column

In [120]:
rk['first'] = convert_to_float(rk['first'])
print(rk.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2230 non-null   object
 1   artist_clean  2230 non-null   object
 2   release_year  2230 non-null   object
 3   combined      2230 non-null   object
 4   first         2230 non-null   float64
 5   year          2230 non-null   int64
 6   play_count    2230 non-null   int64
 7   fg            2230 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 139.5+ KB
None

## Apply these functions to your dataset

In [124]:
def float_converter(dataframe_name): 
    dataframe_name = dataframe_name.apply(pd.to_numeric, errors='coerce', downcast='float')
    return dataframe_name

In [125]:
float_converter(rk).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2 non-null      float32
 1   artist_clean  0 non-null      float32
 2   release_year  2229 non-null   float32
 3   combined      0 non-null      float32
 4   first         2230 non-null   float32
 5   year          2230 non-null   float32
 6   play_count    2230 non-null   float32
 7   fg            2230 non-null   float32
dtypes: float32(8)
memory usage: 69.8 KB

## Describe the new float-only DataFrame.

>



---



---



> > > > > > > > > © 2021 Institute of Data


---



---